<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Building a benchtop flow battery test cell with a zinc-iodide electrolyte</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./static/Logo/favicon.ico" />
<link rel="icon" type="image/png" href="./static/Logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./static/Logo/favicon-16x16.png" sizes="16x16" />

    <link href="./static/base-style.css" rel="stylesheet">
    <link href="./static/site-style.css" rel="stylesheet">
                <style>
  :root {
    --primary-color: #39dbf2;
  }
</style>
<style>
  :root {
    --secondary-color: #cccccc;
  }
</style>
<style>
  :root {
    --hover-color: #555555;
}
</style>
    
        <script type="text/javascript" src="./static/search.js" defer=""></script>
    </head>
<body>
<header class="site-header">
    <div class="wrapper header-wrapper" >
        <div class=header-text>
   
    <h1 class="site-title">Building a benchtop flow battery test cell with a zinc-iodide electrolyte</h1>
   
    <p class="author">by Kirk Pollard Smith and Daniel Fernandez Pinto</p>
    <p class="affiliation">Flow Battery Research Collective</p>
</div>
            </div>
</header>
<div class="page-content">
            <div>
            <nav class="sidebar">
                <a href="#" class="menu-icon">
                <svg viewBox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                </svg>
                </a>
                <ul class="nav-list">
                <li>
    <a class="navhome" href="./">
        Building a benchtop flow battery test cell with a zinc-iodide electrolyte
    </a>
</li>
<li id="nav-search" :class="focused && searchTerm.length > 0 ? 'search-result-popout' : 'search'" v-scope v-on:vue:mounted="mounted('./')">
  <input
    type="text"
    placeholder="Search..."
    v-on:input="search($event.target.value)"
    v-on:keypress="handleKeyPress"
    v-on:keyup.esc="$event.target.blur()"
    v-on:focus="handleFocus"
    v-on:blur="handleBlur"
    :value="searchTerm" />
    <div class="search-results" v-if="focused && searchTerm.length > 0">
        <div v-if="searchResults.length > 0">Results:</div>
        <div v-if="searchResults.length === 0">No results.</div>
        <template v-for="(result, index) in searchResults">
            <li>
                <a class="search-result" :href="`./${result.path}.html`">
               <span v-for="crumb in result.breadCrumbs.slice(0, -1)">
                ${crumb + ' > '}
                </span>
               ${result.title || result.breadCrumbs[result.breadCrumbs.length - 1]}
                <p>
                    <span v-for="node in result.highlightChars" :class="node.mark ? 'highlight' : ''" >${node.chars}</span>
                </p>
                </a>
            </li>
        </template>
    </div>
</li>
<li class="not-active">
    <a class="not-active" href="./index_BOM.html">
        Bill of Materials
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./fabrication.html">
        Fabricating components
    </a>
    </li>
<li class="active">
    <a class="active" href="./electronics.html">
        Preparing the pumps and power electronics
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./cell_assembly.html">
        Assembling the flow cell from components
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./jig_assembly.html">
        Assembling the jig with electronics and flow cell
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./leak_test.html">
        Leak testing the cell
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./electrolyte.html">
        Preparing the electrolyte
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./testing.html">
        Operating and testing the cell
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./cleanup.html">
        Stopping and disassembling the cell
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./analysis.html">
        Analyzing and storing the experimental data
    </a>
    </li>

                </ul>
            </nav>
        </div>
        <div class="wrapper">
    <!-- There should be only one Header per page. You do not need to use all the keys -->
<h1 id="preparing-the-pumps-and-power-electronics">Preparing the pumps and power electronics</h1>
<p><div class=details-header>
    <div class=details-thumb-outer>
        <div class=details-thumb>
            <img alt="page thumbnail" src="images/test.jpg" title="" />
        </div>
    </div>
<div class=other-details>
    <div class=detail>
        <b>Difficulty:</b> Easy
    </div>
    <div class=detail>
        <b>Time required:</b> Tens of minutes
    </div>
    <div class=detail>
        <b>Skills required:</b>
        <ul>
                    <li>Electronics breadboarding</li>
                    <li>Flashing firmware to an Arduino</li>
                </ul>
    </div>
</div>
</div></p>
<div class="pagebom">
<h3 id="parts">Parts</h3>
<ul>
<li>1 <a Class="missing" href="missing">24 V DC power source</a> </li>
<li>1 <a Class="missing" href="missing">Arduino UNO R3</a>    - or equivalent microcontroller that can output two independent 5V PWM signals and connect to PC over USB serial</li>
<li>1 <a Class="bom" href="fabrication.html">jig</a> </li>
<li>several <a Class="missing" href="missing">male-to-male breadboard jumper cables</a> </li>
<li>2 <a Class="bom" href="fabrication.html">peristaltic pumps with correct tubing</a> </li>
<li>1 <a Class="missing" href="missing">USB A-to-B cable</a> </li>
</ul>
<h3 id="tools">Tools</h3>
<ul>
<li>1 <a Class="missing" href="missing">PC</a>    - Must be able to flash firmware to microcontroller and connect over USB serial to microcontroller and potentiostat</li>
<li>1 <a Class="bom" href="pstat.html">potentiostat</a>    - preferably the MYSTAT</li>
</ul>
</div>
<h2 id="system-overview">System overview</h2>
<p>A <a Class="missing" href="missing">PC</a> communicates with both a charging/discharging device (typically a <a href="pstat.html">potentiostat</a>) as well as an <a Class="missing" href="missing">Arduino UNO R3</a>. These documents assume the use of a MYSTAT potentiostat and it's <a href="https://codeberg.org/FBRC/mystat/" target="_blank" title="">modified control software</a>.</p>
<p>The Arduino is connected to two peristaltic pumps which have internal stepper motor drivers, and are powered by a <a Class="missing" href="missing">24 V DC power source</a>. To know the flowrate (in mL/min) of the peristaltic pumps, a separate measurement is required (like dispensing water into a graduated cylinder).</p>
<p>We use the open-source MYSTAT (with our own modifications to the control software), but any equivalent potentiostat or battery cycler will do. Our pump control system is based on the MYSTAT software, though, and can be used without the MYSTAT present.</p>
<p>With this hardware configuration, the MYSTAT software then allows for entire control of this electrochemical system: the applied currents and voltages as well as the speeds of the electrolyte pumps. </p>
<h2 class="page-step" id="flash-firmware-to-microcontroller">Step 1: Flash firmware to microcontroller</h2>
<p>Using the Arduino IDE with the elapsedMillis library installed, upload the following code to the Arduino. The location of the code in the repository is <a href="https://codeberg.org/FBRC/RFB-dev-kit/src/branch/main/firmware/ArduinoUnoR3_MotorControl.ino" target="_blank" title="">here</a></p>
<h2 class="page-step" id="add-arduino-to-the-jig">Step 2: Add Arduino to the jig</h2>
<p>There are standoffs made for the for the Arduino and motor driver on the back of the <a href="fabrication.html">jig</a> .</p>
<h2 class="page-step" id="add-pumps-to-jig">Step 3: Add pumps to jig</h2>
<p>Insert the two <a href="fabrication.html">peristaltic pumps with correct tubing</a> into their holders in the as shown:</p>
<p><img alt="" src="images/Screenshot_20250102_190036.png" title="" /></p>
<h2 class="page-step" id="connect-cables-between-arduino-motors-and-power-supply">Step 4: Connect cables between Arduino, motors, and power supply</h2>
<p>Using <a Class="missing" href="missing">male-to-male breadboard jumper cables</a> connect according to the below diagram, taking care to connect the negative terminal of the 24 V power supply lead to both the GND terminal of the motor driver (middle connection of the three-terminal screw connection header) <strong>and</strong> a GND pin of the Arduino, so that the Arduino's signals to the motor driver are in relation to the same fixed GND.
<img alt="" src="images/test.jpg" title="" /></p>
<p>Here is a proper schematic:</p>
<p><embed src="exports/schematic.pdf" type="application/pdf" width="100%" height="600px" /></p>
<p>The wiring should look like this when you're done (feel free to make it tidier!)
<img alt="" src="images/IMG_20241116_155825.jpg" title="" /></p>
<p>You now have a <a name="output__jig-with-pumps-and-power-electronics"></a>jig with pumps and power electronics.</p>
<h2 id="connect-microcontroller-to-pc-and-test-pumps">Connect microcontroller to PC and test pumps.</h2>
<p>We are using the MYSTAT potentiostat and have modified the software to be able to control the pump speeds. If you have a different potentiostat, you can still use the MYSTAT software to control your pumps without having a MYSTAT connected.</p>
<p>Plug in the 24V power source to the H-bridge. Connect the Arduino to the PC with a <a Class="missing" href="missing">USB A-to-B cable</a></p>
<p>Run the MYSTAT <a href="https://codeberg.org/FBRC/mystat/" target="_blank" title="">modified control software</a>.</p>
<p>Connect to the Arduino through the MYSTAT GUI. Briefly test each pump to make sure it spins (it can spin for a couple seconds dry without issues).</p>
<!-- GitBuilding Nav -->
<hr />
<p><a href="fabrication.html">Previous page</a> | <a href="cell_assembly.html">Next page</a></p>
    </div>
</div>
<footer class="site-footer">
    <div class="wrapper">
        <a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="./static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="doc-info">Documentation powered by GitBuilding</span>
</a>
    <p class="author">©2025 Kirk Pollard Smith and Daniel Fernandez Pinto</p>
    <p class="email">Contact: <a href="mailto:info@fbrc.dev">info@fbrc.dev</a></p>
    <p class="license">Building a benchtop flow battery test cell with a zinc-iodide electrolyte is released under <a href="license.html">CERN-OHL-S-2.0</a>.</p>

    </div>
</footer></body>
</html>