<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Building an Open-Source Hardware Flow Battery Development Kit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./static/Logo/favicon.ico" />
<link rel="icon" type="image/png" href="./static/Logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="./static/Logo/favicon-16x16.png" sizes="16x16" />

    <link href="./static/base-style.css" rel="stylesheet">
    <link href="./static/site-style.css" rel="stylesheet">
                <style>
  :root {
    --primary-color: #39dbf2;
  }
</style>
<style>
  :root {
    --secondary-color: #cccccc;
  }
</style>
<style>
  :root {
    --hover-color: #555555;
}
</style>
    
        <script type="text/javascript" src="./static/search.js" defer=""></script>
    </head>
<body>
<header class="site-header">
    <div class="wrapper header-wrapper" >
        <div class=header-text>
   
    <h1 class="site-title">Building an Open-Source Hardware Flow Battery Development Kit</h1>
   
    <p class="author">by Kirk Pollard Smith and Daniel Fernandez Pinto</p>
    <p class="affiliation">Flow Battery Research Collective</p>
</div>
            </div>
</header>
<div class="page-content">
            <div>
            <nav class="sidebar">
                <a href="#" class="menu-icon">
                <svg viewBox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                </svg>
                </a>
                <ul class="nav-list">
                <li>
    <a class="navhome" href="./">
        Building an Open-Source Hardware Flow Battery Development Kit
    </a>
</li>
<li id="nav-search" :class="focused && searchTerm.length > 0 ? 'search-result-popout' : 'search'" v-scope v-on:vue:mounted="mounted('./')">
  <input
    type="text"
    placeholder="Search..."
    v-on:input="search($event.target.value)"
    v-on:keypress="handleKeyPress"
    v-on:keyup.esc="$event.target.blur()"
    v-on:focus="handleFocus"
    v-on:blur="handleBlur"
    :value="searchTerm" />
    <div class="search-results" v-if="focused && searchTerm.length > 0">
        <div v-if="searchResults.length > 0">Results:</div>
        <div v-if="searchResults.length === 0">No results.</div>
        <template v-for="(result, index) in searchResults">
            <li>
                <a class="search-result" :href="`./${result.path}.html`">
               <span v-for="crumb in result.breadCrumbs.slice(0, -1)">
                ${crumb + ' > '}
                </span>
               ${result.title || result.breadCrumbs[result.breadCrumbs.length - 1]}
                <p>
                    <span v-for="node in result.highlightChars" :class="node.mark ? 'highlight' : ''" >${node.chars}</span>
                </p>
                </a>
            </li>
        </template>
    </div>
</li>
<li class="not-active">
    <a class="not-active" href="./index_BOM.html">
        Bill of Materials
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./fabrication.html">
        Fabricating cell components
    </a>
    </li>
<li class="active">
    <a class="active" href="./electronics.html">
        Preparing the power electronics
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./cell_assembly.html">
        Assembling the flow cell from components
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./jig_assembly.html">
        Assembling the jig with electronics and flow cell
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./electrolyte.html">
        Preparing the electrolyte
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./testing.html">
        Operating and testing the cell
    </a>
    </li>

                </ul>
            </nav>
        </div>
        <div class="wrapper">
    <h1 id="preparing-the-power-electronics">Preparing the power electronics</h1>
<div class="pagebom">
<h3 id="parts">Parts</h3>
<ul>
<li>1 <a Class="missing" href="missing">24 V DC power source</a>    - Anything between 12 V and 24 V may work but the results achieved here use 24 V. Motor speeds may need calibration to match existing results</li>
<li>1 <a Class="missing" href="missing">Arduino UNO R3</a>    - or equivalent microcontroller that can output two independent 5V PWM signals and connect to PC over USB serial</li>
<li>1 <a Class="bom" href="drivers.html">L298N motor driver</a> </li>
</ul>
<h3 id="tools">Tools</h3>
<ul>
<li>1 <a Class="missing" href="missing">PC</a>    - Must be able to flash firmware to microcontroller and connect over USB serial to microcontroller and potentiostat</li>
<li>1 <a Class="bom" href="pstat.html">potentiostat</a>    - preferably the MYSTAT</li>
</ul>
</div>
<h2 id="system-overview">System overview</h2>
<p>A <a Class="missing" href="missing">PC</a> communicates with both a charging/discharging device (typically a <a href="pstat.html">potentiostat</a>}) as well as an <a Class="missing" href="missing">Arduino UNO R3</a>. These documents assume the use of a MYSTAT potentiostat and it's <a href="https://codeberg.org/FBRC/mystat/" target="_blank" title="">modified control software</a>.</p>
<p>The Arduino is connected to an <a href="drivers.html">L298N motor driver</a>, which is powered by a <a Class="missing" href="missing">24 V DC power source</a>. This is a simple dual H-bridge motor driver that allows the Arduino to control the speeds of the peristaltic pumps using pulse width modulation (PWM). There is no speed feedback; we only tell the motors which direction to turn and whether they run at 100% maximum speed, 0% speed (off), or anything in between. To know the speed (in rpm) or flowrate (in mL/min) of the peristaltic pumps, a separate measurement is required (like dispensing water into a graduated cylinder).</p>
<p>We use the open-source MYSTAT (with our own modifications to the control software), but any equivalent potentiostat or battery cycler will do. Our pump control system is based on the MYSTAT software, though, and can be used without the MYSTAT present.</p>
<p>With this hardware configuration, the MYSTAT software then allows for entire control of this electrochemical system: the applied currents and voltages as well as the speeds of the electrolyte pumps.</p>
<h2 class="page-step" id="flash-firmware-to-microcontroller">Step 1: Flash firmware to microcontroller</h2>
<p>Using the Arduino IDE with the elapsedMillis library installed, upload the following code to the Arduino. The location of the code in the repository is <a href="https://codeberg.org/FBRC/RFB-dev-kit/src/branch/main/firmware/ArduinoUnoR3_MotorControl.ino" target="_blank" title="">here</a></p>
<div class="codehilite"><pre><span></span><code><span class="cp">#include</span><span class="w"> </span><span class="cpf">&lt;elapsedMillis.h&gt;</span>
<span class="cp">#define LED_BUILTIN 17</span>

<span class="c1">// WHITE WIRES, SPEED CONTROL</span>

<span class="cp">#define PIN_1P_PWM 10</span>
<span class="cp">#define PIN_1N_PWM 5</span>
<span class="cp">#define In1 9</span>
<span class="cp">#define In2 8</span>
<span class="cp">#define In3 7</span>
<span class="cp">#define In4 6</span>

<span class="c1">// INPUT PUMP SPEED/DUTY CYCLE, 0-255 is 0-100%, PUMPS MINIMUM SPEED STARTS FROM ~3.8 - 7.6 %</span>
<span class="kt">int</span><span class="w"> </span><span class="n">speed1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="kt">int</span><span class="w"> </span><span class="n">speed1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>

<span class="c1">// OUTPUT PUMP SPEED</span>

<span class="kt">unsigned</span><span class="w"> </span><span class="kt">long</span><span class="w"> </span><span class="n">rpm1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="kt">unsigned</span><span class="w"> </span><span class="kt">long</span><span class="w"> </span><span class="n">rpm1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>

<span class="c1">//PUMP COUNTERS</span>

<span class="kt">unsigned</span><span class="w"> </span><span class="kt">long</span><span class="w"> </span><span class="n">count1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="kt">unsigned</span><span class="w"> </span><span class="kt">long</span><span class="w"> </span><span class="n">count1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>

<span class="k">const</span><span class="w"> </span><span class="n">byte</span><span class="w"> </span><span class="n">buffSize</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">40</span><span class="p">;</span>
<span class="kt">char</span><span class="w"> </span><span class="n">inputBuffer</span><span class="p">[</span><span class="n">buffSize</span><span class="p">];</span>
<span class="k">const</span><span class="w"> </span><span class="kt">char</span><span class="w"> </span><span class="n">startMarker</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="sc">&#39;&lt;&#39;</span><span class="p">;</span>
<span class="k">const</span><span class="w"> </span><span class="kt">char</span><span class="w"> </span><span class="n">endMarker</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="sc">&#39;&gt;&#39;</span><span class="p">;</span>
<span class="n">byte</span><span class="w"> </span><span class="n">bytesRecvd</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="n">boolean</span><span class="w"> </span><span class="n">readInProgress</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nb">false</span><span class="p">;</span>
<span class="n">boolean</span><span class="w"> </span><span class="n">newDataFromPC</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nb">false</span><span class="p">;</span>
<span class="kt">char</span><span class="w"> </span><span class="n">messageFromPC</span><span class="p">[</span><span class="n">buffSize</span><span class="p">]</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="mi">0</span><span class="p">};</span>
<span class="kt">char</span><span class="w"> </span><span class="n">cmd</span><span class="p">;</span>
<span class="n">String</span><span class="w"> </span><span class="n">val</span><span class="p">;</span>

<span class="k">const</span><span class="w"> </span><span class="kt">int</span><span class="w"> </span><span class="n">updateInterval</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">1000</span><span class="p">;</span><span class="w"> </span><span class="c1">// serial update time period (ms)</span>
<span class="n">elapsedMillis</span><span class="w"> </span><span class="n">updateTimer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>

<span class="kt">bool</span><span class="w"> </span><span class="n">ledState</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">LOW</span><span class="p">;</span>

<span class="kt">int</span><span class="w"> </span><span class="n">set1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">160</span><span class="p">;</span>
<span class="kt">int</span><span class="w"> </span><span class="n">set1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">160</span><span class="p">;</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">parseData</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="n">cmd</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">strtok</span><span class="p">(</span><span class="n">inputBuffer</span><span class="p">,</span><span class="w"> </span><span class="s">&quot;,&quot;</span><span class="p">)[</span><span class="mi">0</span><span class="p">];</span>
<span class="w">  </span><span class="n">val</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">strtok</span><span class="p">(</span><span class="nb">NULL</span><span class="p">,</span><span class="w"> </span><span class="s">&quot;,&quot;</span><span class="p">);</span>
<span class="w">  </span><span class="n">Serial</span><span class="p">.</span><span class="n">print</span><span class="p">(</span><span class="n">cmd</span><span class="p">);</span>
<span class="w">  </span><span class="n">Serial</span><span class="p">.</span><span class="n">print</span><span class="p">(</span><span class="sc">&#39;,&#39;</span><span class="p">);</span>
<span class="w">  </span><span class="n">Serial</span><span class="p">.</span><span class="n">println</span><span class="p">(</span><span class="n">val</span><span class="p">);</span>
<span class="p">}</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">recieveFromPC</span><span class="p">()</span>
<span class="p">{</span>

<span class="w">  </span><span class="c1">// receive data from PC and save it into inputBuffer</span>

<span class="w">  </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">Serial</span><span class="p">.</span><span class="n">available</span><span class="p">()</span><span class="w"> </span><span class="o">&gt;</span><span class="w"> </span><span class="mi">0</span><span class="p">)</span>
<span class="w">  </span><span class="p">{</span>

<span class="w">    </span><span class="kt">char</span><span class="w"> </span><span class="n">x</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">Serial</span><span class="p">.</span><span class="n">read</span><span class="p">();</span>
<span class="w">    </span><span class="c1">// the order of these IF clauses is significant</span>

<span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">x</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="n">endMarker</span><span class="p">)</span>
<span class="w">    </span><span class="p">{</span>
<span class="w">      </span><span class="n">readInProgress</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nb">false</span><span class="p">;</span>
<span class="w">      </span><span class="n">newDataFromPC</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nb">true</span><span class="p">;</span>
<span class="w">      </span><span class="n">inputBuffer</span><span class="p">[</span><span class="n">bytesRecvd</span><span class="p">]</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="w">      </span><span class="n">parseData</span><span class="p">();</span>
<span class="w">    </span><span class="p">}</span>

<span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">readInProgress</span><span class="p">)</span>
<span class="w">    </span><span class="p">{</span>
<span class="w">      </span><span class="n">inputBuffer</span><span class="p">[</span><span class="n">bytesRecvd</span><span class="p">]</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">x</span><span class="p">;</span>
<span class="w">      </span><span class="n">bytesRecvd</span><span class="o">++</span><span class="p">;</span>
<span class="w">      </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">bytesRecvd</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="n">buffSize</span><span class="p">)</span>
<span class="w">      </span><span class="p">{</span>
<span class="w">        </span><span class="n">bytesRecvd</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">buffSize</span><span class="w"> </span><span class="o">-</span><span class="w"> </span><span class="mi">1</span><span class="p">;</span>
<span class="w">      </span><span class="p">}</span>
<span class="w">    </span><span class="p">}</span>

<span class="w">    </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">x</span><span class="w"> </span><span class="o">==</span><span class="w"> </span><span class="n">startMarker</span><span class="p">)</span>
<span class="w">    </span><span class="p">{</span>
<span class="w">      </span><span class="n">bytesRecvd</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="mi">0</span><span class="p">;</span>
<span class="w">      </span><span class="n">readInProgress</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nb">true</span><span class="p">;</span>
<span class="w">    </span><span class="p">}</span>
<span class="w">  </span><span class="p">}</span>
<span class="p">}</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">ISR_1P</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="n">count1P</span><span class="o">++</span><span class="p">;</span>
<span class="p">}</span>
<span class="kt">void</span><span class="w"> </span><span class="nf">ISR_1N</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="n">count1N</span><span class="o">++</span><span class="p">;</span>
<span class="p">}</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">setup</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="n">Serial</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">9600</span><span class="p">);</span>

<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">LED_BUILTIN</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">digitalWrite</span><span class="p">(</span><span class="n">LED_BUILTIN</span><span class="p">,</span><span class="w"> </span><span class="n">ledState</span><span class="p">);</span>

<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">PIN_1P_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">PIN_1N_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">In1</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">In2</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">In3</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>
<span class="w">  </span><span class="n">pinMode</span><span class="p">(</span><span class="n">In4</span><span class="p">,</span><span class="w"> </span><span class="n">OUTPUT</span><span class="p">);</span>

<span class="w">  </span><span class="n">digitalWrite</span><span class="p">(</span><span class="n">In1</span><span class="p">,</span><span class="w"> </span><span class="n">HIGH</span><span class="p">);</span>
<span class="w">  </span><span class="n">digitalWrite</span><span class="p">(</span><span class="n">In2</span><span class="p">,</span><span class="w"> </span><span class="n">LOW</span><span class="p">);</span>

<span class="w">  </span><span class="n">digitalWrite</span><span class="p">(</span><span class="n">In3</span><span class="p">,</span><span class="w"> </span><span class="n">HIGH</span><span class="p">);</span>
<span class="w">  </span><span class="n">digitalWrite</span><span class="p">(</span><span class="n">In4</span><span class="p">,</span><span class="w"> </span><span class="n">LOW</span><span class="p">);</span>

<span class="w">  </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1P_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">set1P</span><span class="p">);</span>
<span class="w">  </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1N_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">set1N</span><span class="p">);</span>
<span class="p">}</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">controlPumps</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="k">if</span><span class="w"> </span><span class="p">(</span><span class="n">newDataFromPC</span><span class="p">)</span>
<span class="w">  </span><span class="p">{</span>
<span class="w">    </span><span class="k">switch</span><span class="w"> </span><span class="p">(</span><span class="n">cmd</span><span class="p">)</span>
<span class="w">    </span><span class="p">{</span>
<span class="w">    </span><span class="k">case</span><span class="w"> </span><span class="sc">&#39;a&#39;</span><span class="p">:</span>
<span class="w">      </span><span class="n">set1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">val</span><span class="p">.</span><span class="n">toInt</span><span class="p">();</span>
<span class="w">      </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1P_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">set1P</span><span class="p">);</span>
<span class="w">      </span><span class="k">break</span><span class="p">;</span>
<span class="w">    </span><span class="k">case</span><span class="w"> </span><span class="sc">&#39;b&#39;</span><span class="p">:</span>
<span class="w">      </span><span class="n">set1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">val</span><span class="p">.</span><span class="n">toInt</span><span class="p">();</span>
<span class="w">      </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1N_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">set1N</span><span class="p">);</span>
<span class="w">      </span><span class="k">break</span><span class="p">;</span>
<span class="w">    </span><span class="k">case</span><span class="w"> </span><span class="sc">&#39;c&#39;</span><span class="p">:</span>
<span class="w">      </span><span class="n">set1N</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">val</span><span class="p">.</span><span class="n">toInt</span><span class="p">();</span>
<span class="w">      </span><span class="n">set1P</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">val</span><span class="p">.</span><span class="n">toInt</span><span class="p">();</span>
<span class="w">      </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1N_PWM</span>
<span class="w">      </span><span class="p">,</span><span class="w"> </span><span class="n">set1N</span><span class="p">);</span>
<span class="w">      </span><span class="n">analogWrite</span><span class="p">(</span><span class="n">PIN_1P_PWM</span><span class="p">,</span><span class="w"> </span><span class="n">set1P</span><span class="p">);</span>
<span class="w">      </span><span class="k">break</span><span class="p">;</span>
<span class="w">    </span><span class="p">}</span>
<span class="w">  </span><span class="p">}</span>
<span class="p">}</span>

<span class="kt">void</span><span class="w"> </span><span class="nf">loop</span><span class="p">()</span>
<span class="p">{</span>
<span class="w">  </span><span class="n">recieveFromPC</span><span class="p">();</span>
<span class="w">  </span><span class="n">controlPumps</span><span class="p">();</span>
<span class="p">}</span>
</code></pre></div>

<h2 class="page-step" id="remove-on-board-jumpers-from-motor-driver">Step 2: Remove on-board jumpers from motor driver</h2>
<p><strong>Remove</strong> the three on-board jumpers (hig hlighted in pink) from the motor driver board:</p>
<p><img alt="" src="images/Screenshot_20240703_221706.png" title="" /></p>
<h2 class="page-step" id="connect-cables-between-arduino-motor-driver-and-power-supply">Step 3: Connect cables between Arduino, motor driver, and power supply</h2>
<p>Connect according to the below diagram, taking care to connect the negative terminal of the 24 V power supply lead to both the GND terminal of the motor driver (middle connection of the three-terminal screw connection header) <strong>and</strong> a GND pin of the Arduino, so that the Arduino's signals to the motor driver are in relation to the same fixed GND.
<img alt="" src="images/test.jpg" title="" /></p>
<h2 id="connect-microcontroller-to-pc">Connect microcontroller to PC</h2>
<p>TODO</p>
<!-- GitBuilding Nav -->
<hr />
<p><a href="fabrication.html">Previous page</a> | <a href="cell_assembly.html">Next page</a></p>
    </div>
</div>
<footer class="site-footer">
    <div class="wrapper">
        <a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="./static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="doc-info">Documentation powered by GitBuilding</span>
</a>
    <p class="author">©2024 Kirk Pollard Smith and Daniel Fernandez Pinto</p>
    <p class="email">Contact: <a href="mailto:info@fbrc.dev">info@fbrc.dev</a></p>
    <p class="license">Building an Open-Source Hardware Flow Battery Development Kit is released under <a href="license.html">CERN-OHL-S-2.0</a>.</p>

    </div>
</footer></body>
</html>